<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/axios/dist/axios.min.js"></script>
</head>
<!--<img src="image/image.png">-->
<body bgcolor="#FFFFFF" id=body>
<h2 align="center">IFrames Example</h2>
<script>
    axios.get('http://localhost:3000/hp');
</script>
</body>
</html>
