<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<body bgcolor="#FFFFFF" id=body>
<h2 align="center">IFrames Example</h2>
<iframe src="http://localhost:3000/sub-page" width="400" height="400">

</iframe>
</body>
</html>
